# Database
DB_URL=jdbc:mysql://<host>:<port>/<database>
DB_USER=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Security
JWT_ISSUER_URI=https://securetoken.google.com/<project-id>

# App
ADMIN_EMAILS=
APP_FRONTEND_URL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
